
<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
    <div class="wrapper wrapper--w680">
        <div class="card card-4">
            <div class="card-body">
                <h2 class="title">Cette interface permet de modifier les établissements. </h2>
                <form method="POST">
                    <div class="row row-space">
                        <div class="col">
                            <div class="input-group">
                                <label class="label">Nom</label>
                                <input  [(ngModel)]="etablissement.nom"class="input--style-4" type="text" name="first_name">
                            </div>
                        </div>
                        <div class="col-0">
                            <div class="input-group">
                                <label class="label">Adresse</label>
                                <input  [(ngModel)]="etablissement.adresse"class="input--style-4" type="text" name="last_name">
                            </div>
                        </div>
                        <div class="col-0">
                            <div class="input-group">
                                <label class="label">Email</label>
                                <input  [(ngModel)]="etablissement.email"class="input--style-4" type="text" name="last_name">
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-0">
                            <div class="input-group">
                                <label class="label">Numéro     </label>
                                <div class="input-group-icon">
                                    <input [(ngModel)]="etablissement.tel"class="input--style-4 js-datepicker" type="number" name="birthday">
                                    <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-t-15">
                        <button   (click)="modifieretablissement()" routerLink="/adminuniv/etablissement" class="btn btn--radius-2 btn--blue col" type="submit">Modifier établissement </button>
                        <button  routerLink="/adminuniv/etablissement" class="btn btn--radius btn--blue col" type="submit">close </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>